<nav style="margin-left: 10px;">
    <aside>
        <ul>
            <li><h1><img src="" alt=""><span>Admin</span></h1></li>
        </ul>
        <ul>
            <li id="home">
                <a href="#home">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
        
                </a>
             </li>

        </ul>
        <ul style="margin-top: -30px;">
            <li id="ecom">
                <a href="#ecom">
                    <i class="fa fa-shopping-cart"></i>
                    <span>E-commerce</span>
                    <i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>product</p></li>
                <li><p>order</p></li>
                <li><p>credit</p></li>
            </ul>
             </li>

             <li id="comp">
                <a href="#comp">
                    <i class="fa fa-diamond"></i>
                    <span>Component</span>
                    <i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>general</p></li>
                <li><p>medium</p></li>
                <li><p>large</p></li>
            </ul>
             </li>
             
             <li id="chart">
                <a href="#chart">
                    <i class="fa fa-line-chart"></i>
                    <span>Chart</span>
                    <i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>hii</p></li>
                <li><p>hey</p></li>
                <li><p>hooo</p></li>
            </ul>
             </li>
             <li id="user">
                <a href="#user">
                    <i class="fa fa-users"></i>
                    <span>User</span><i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>Normal home</p></li>
                <li><p>2nd</p></li>
                <li><p>3rd</p></li>
            </ul>
             </li>
             <li id="task">
                <a href="#task">
                    <i class="fa fa-tasks"></i>
                    <span>Task</span><i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>Normal home</p></li>
                <li><p>2nd</p></li>
                <li><p>3rd</p></li>
            </ul>
             </li>
             <li id="even">
                <a href="#even">
                    <i class="fa fa-calendar-check-o"></i>
                    <span>Home</span><i class="fa fa-angle-right"></i>
                </a>
            
            <ul>
                <li><p>Normal home</p></li>
                <li><p>2nd</p></li>
                <li><p>3rd</p></li>
            </ul>
             </li>
             
             
        </ul>
    </aside>
    <header>
        <h1>DASHBOARD PAGE</h1>
    </header>
</nav>